@media (max-width: 750px) {

  header .menuicon {
    position:absolute;
    right:10px;
    top:10px;
    display:block;
    font-size:30px;
    color:white;
  }

  header .links {
  /* transform:none; */
  display:none;
  /* height:80px;
  overflow:hidden;
  transition: all 1s; */
}

/* header .links a{
  display:block;
  width: 100%;
  background-color: #5b6474;
}

header .menuicon:hover ~ .links{
  display: block;
  height:250px;
}

header .links:hover{
  display: block;
  height:250px;
} */

.aboutme .content h1{
  font-size: 5em;
}
}
