.resume{
  position: relative;
  height: 100vh;
  background-color: grey;
}

.resume .content{
  position: absolute;
  top: 15%;
  left: 50%;
  width: 80%;
  transform: translateX(-50%) translateY(-50%);
}

.resume .content p{
  line-height: 1.5em;
  color: white;
}

.resume .logo{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
}

.resume .downloadButton{
  position: relative;
  display: block;
  left: 50%;
  transform: translate(-50%);
  color:white;
  border: 1px solid green;
  font-size: 1.5em;
  padding: 10px;
  line-height: 60px;
  width: 250px;
  height: 60px;
  text-decoration: none;
}
